@model IEnumerable<daBoot.Controllers.ProjectController.ProjectRole>

@{
    ViewData["Title"] = "Your Projects";
}

<script>
    function createprojectpopuptoggle() {
        var x = document.getElementById("createprojectpopup");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>


<div class="container p-3 card">
    <div class="text-center">
        <h1>Your Projects</h1>
    </div>
    <div class="col-12 col-lg-6">
        <button title="create" class="btn btn-primary m-4" onclick="createprojectpopuptoggle()">Create project</button>
        <div id="createprojectpopup" style="display: none;">
            <form action="/createproject" method="post" class="form-inline">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="projectname" placeholder="Project name" aria-label="Project name" required="required" />
                </div>
                <div class="input-group mb-3">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
            </form>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <td style=" text-align: left;">Project Name</td>
                    <td style="width: 30%;">Your Role</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td style="vertical-align:middle; text-align: left;">
                            <strong><a href="/project/@project.Project.Id">@project.Project.Name</a></strong>
                        </td>
                        <td style="vertical-align:middle">
                            <p>@project.Role</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You don't have any project.</p>
    }
</div>