<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - daBoot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" id="sidebarclose" class="closebtn" onclick="closeNav()"><i class="fa fa-arrow-left"></i></a>
        <div class="text-light" style="height:40vh; text-align:center">
            @if (User.Identity.IsAuthenticated)
            {
                <h3>Welcome, @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Name).Value</h3>
                <img src=@User.Claims.FirstOrDefault(c => c.Type == "profpic").Value
                     alt="profile pic" style="object-fit: cover; width: 20vh; height: 20vh; overflow: hidden; border-radius:10vh; background-color:white">
            }
            else
            {
                <h3>You are not logged in.</h3>
            }
        </div>
        <div class="border-top" style="list-style-type: none; padding: 0; margin: 0; height:50vh;">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-link text-light sidebar-item" style="width:100%;" href="/dashboard">Dashboard</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;" asp-controller="Project" asp-action="ProjectList">Projects & Roles</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;" href="/profile">Your Profile</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;" asp-controller="Profile" asp-action="TeamMemberList">Team Members</a>
                <a class="nav-link text-light sidebar-item notification" style="width:100%;" asp-controller="Notification" asp-action="NotificationList">Notifications<span class="badge" id="sidebarnotificationcount"></span></a>
                <a class="nav-link text-light sidebar-item" style="width:100%;" asp-controller="Home" asp-action="Logout">Logout</a>
            }
        </div>
    </div>

    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button id="sidebaropen" class="openbtn mr-3" onclick="openNav()"><i class="fa fa-arrow-right"></i></button>
                <a class="navbar-brand mr-3" asp-area="" asp-controller="Home" asp-action="Index">daBoot</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="notification mr-3" asp-controller="Notification" asp-action="NotificationList">
                        <i class="fa fa-bell"></i>
                        <span class="badge" id="navbarnotificationcount"></span>
                    </a>
                }
                <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex" style="justify-content: flex-end;">
                    <form action="/search" method="get">
                        <div class="search-container input-group">
                            <input type="search" class="form-control" placeholder="Search..." name="searchstr" id="searchform">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </nav>
    </header>
    <div id="main">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - daBoot - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/notification/getcount", true);
        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;
            if (this.status == 200) {
                if (this.response > 0) {
                    document.getElementById("sidebarnotificationcount").innerHTML = this.response.toString();
                    document.getElementById("navbarnotificationcount").innerHTML = this.response.toString();
                }
            }
        };
        xhr.send();
    });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
