<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - daBoot</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" id="sidebarclose" class="closebtn" onclick="closeNav()"><i class="fa fa-arrow-left"></i></a>
        <div class="text-light" style="height:40vh; text-align:center">
            @if (User.Identity.IsAuthenticated)
            {
                <h3>Welcome, @User.Identity.Name</h3>
                <img src=@User.Claims.FirstOrDefault(c => c.Type == "profpic").Value
                     alt="profile pic" style="object-fit: cover; width: 20vh; height: 20vh; overflow: hidden; border-radius:10vh; background-color:white">
            }
            else
            {
                <h3>You are not logged in.</h3>
            }
        </div>
        <div class="border-top" style="list-style-type: none; padding: 0; margin: 0; height:50vh;">
            @if (User.Identity.IsAuthenticated){
                <a class="nav-link text-light sidebar-item" style="width:100%;">Dashboard</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;">Projects & Roles</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;" asp-controller="Profile" asp-action="Index">Your Profile</a>
                <a class="nav-link text-light sidebar-item" style="width:100%;">Team Members</a>
                <div class="row notification">
                    <a class="nav-link text-light sidebar-item" style="width:100%;">Notifications</a>
                    <span class="badge">3</span>
                </div>
                <a class="nav-link text-light sidebar-item" style="width:100%;" asp-controller="Home" asp-action="Logout">Logout</a>
            }
        </div>
    </div>

    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <button id="sidebaropen" class="openbtn" onclick="openNav()"><i class="fa fa-arrow-right"></i></button>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">daBoot</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!--<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Item" asp-action="Index">My Borrowed Items</a>
        </li>
    </ul>-->

                    <form>
                        <div class="search-container input-group">
                            <input type="search" class="form-control" placeholder="Search..." name="search" id="searchform">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <a href="" class="notification">
                        <i class="fa fa-bell"></i>
                        <span class="badge">3</span>
                    </a>
                </div>

            </div>
        </nav>
    </header>
    <div id="main">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
        
    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - daBoot - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
