@model daBoot.Models.Account
@{
    ViewData["Title"] = "Profile";
}
<script>
    function addteammember(userid) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/addteammember/" + userid, true);
        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;

            if (this.status == 200) {
                if (this.responseText == "Success") {
                    document.location.reload(true);
                }
            }
            // end of state change: it can be after some time (async)
        };
        xhr.send();
    }

    function rmvteammember(userid) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/rmvteammember/" + userid, true);
        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;

            if (this.status == 200) {
                if (this.responseText == "Success") {
                    document.location.reload(true);
                }
            }
            // end of state change: it can be after some time (async)
        };
        xhr.send();
    }
</script>

<div class="container p-3">
    @if (Model != null)
    {
        <div class="row m-3" style="text-align:center;">
            <img class="center" src=@Model.ProfilePicURL alt="profile pic" style="object-fit: cover; width: 30vh; height: 30vh; overflow: hidden; border-radius: 15vh; background-color: white; display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="row col-6 offset-3">
            <form action="/profile/update/" method="post" style="text-align:center; width:100%; margin:auto">
                <small class="form-text">ID</small>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="id" name="id" value=@Model.Id readonly="readonly" />
                </div>
                <small class="form-text">Username</small>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@@</span>
                    </div>
                    <input type="text" class="form-control" id="username" name="username" value=@Model.Username aria-label="Username" aria-describedby="basic-addon1" readonly="readonly" />
                </div>
                @if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "username").Value == Model.Username)
                {
                    <small class="form-text">First Name</small>
                    <div class="input-group mb-3">
                        <input type="text" id="firstname" name="firstname" class="form-control" value=@Model.FirstName />
                    </div>
                    <small class="form-text">Last Name</small>
                    <div class="input-group mb-3">
                        <input type="text" id="lastname" name="lastname" class="form-control" value=@Model.LastName />
                    </div>
                    <small class="form-text">Email Address</small>
                    <div class="input-group mb-3">
                        <input type="text" id="email" name="email" class="form-control" value=@Model.EmailAddress />
                    </div>
                    <small class="form-text">Profile Picture URL</small>
                    <div class="input-group mb-3">
                        <input type="text" id="profpic" name="profpic" class="form-control" value=@Model.ProfilePicURL />
                    </div>
                    <div class="input-group mb-3">
                        <input type="submit" class="btn btn-success" value="Update" />
                    </div>
                }
                else
                {
                    <small class="form-text">First Name</small>
                    <div class="input-group mb-3">
                        <input type="text" id="firstname" name="firstname" class="form-control" value=@Model.FirstName readonly="readonly" />
                    </div>
                    <small class="form-text">Last Name</small>
                    <div class="input-group mb-3">
                        <input type="text" id="lastname" name="lastname" class="form-control" value=string(@Model.LastName) readonly="readonly" />
                    </div>
                    <small class="form-text">Email Address</small>
                    <div class="input-group mb-3">
                        <input type="text" id="email" name="email" class="form-control" value=@Model.EmailAddress readonly="readonly" />
                    </div>
                    <small class="form-text">Profile Picture URL</small>
                    <div class="input-group mb-3">
                        <input type="text" id="profpic" name="profpic" class="form-control" value=@Model.ProfilePicURL readonly="readonly" />
                    </div>
                }
            </form>
            @if (User.Identity.IsAuthenticated && User.Claims.FirstOrDefault(c => c.Type == "username").Value != Model.Username)
            {
                @if (ViewData["IsMember"] == null)
                {
                    <div class="input-group mb-3">
                        <input type="submit" onclick="addteammember(@Model.Id)" class="btn btn-success" value="Add as Team Member" />
                    </div>

                }
                else
                {
                    <div class="input-group mb-3">
                        <input type="submit" onclick="rmvteammember(@Model.Id)" class="btn btn-secondary" value="Remove Team Member" />
                    </div>
                }
            }

        </div>
    }
    else
    {
        <h1>404 - No profile found.</h1>
    }
</div>
